:root {
    --basic_color: rgb(189, 122, 90);
    --dark_color: rgb(169, 108, 80);
    --darkest_color: rgb(154, 95, 68);
    --icon_color: invert(100%) sepia(53%) saturate(5513%) hue-rotate(180deg) brightness(108%) contrast(108%);
}

body {
    margin:0;
    padding:0;
}

#scrollNav {
    display:none;
    z-index: 1;
    background-color: var(--basic_color);
}

section {
    width: 100%;
}
#main-img {
    height:72vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    background-image: url(../imgs/background3.jpeg);
    background-size: cover;
    animation:animate_background;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

#main-img:hover {
    animation-play-state: paused;
}

.content {
    display: flex;
    width:60%;
    margin:0 auto;
    justify-content: space-between;
    text-align: center;
}

#login {
    margin-left: 1vw;
}

#phone {
    margin-right: 1vw;
}

.content-div {
    display: flex;
}

.uni {
    font-size: 25px;
    color: white;
    opacity: 0.5;
}

.van {
    font-size:40px;
    font-weight: bold;
    color:white;
}

#brand {
    font-size: 70px;
    color: transparent; -webkit-text-stroke: 1px #fff;
    transform: rotate(-6deg);
}

#brand span {
    color:white;
}

#button-container {
    transform: rotate(-6deg);
}

#main-img button {
    width:100px;
    height:35px;
    color: white;
    border-radius: 10px;
    font-weight: border;
    font-size: 15px;
}

#buynow {
    background-color: var(--basic_color);
    border: none;
}

#readmore {
    background-color: rgba(0,0,0,0);
    border: solid 1px white;
}

#short-strength {
    height:21vh;
    background-color: var(--basic_color);
}

#short-strength .content{
    height:100%;
}

.strength-icon {
    display: inline;
    width:30%;
    height:100%;
    align-items: center;
}

.strength-icon img {
    box-sizing: border-box;
    padding-left: 1vw;
    width:70%;
    height:50%;
    filter: var(--icon_color);
}

.strength-content {
    box-sizing: border-box;
    width:70%;
    height:100%;
    color:#fff;
    padding-top:2vh;
}

.strength-content p {
    line-height: 2vh;
}

.first {
    width:33.3%;
    height:100%;
}

.second {
    width:33.3%;
    height:100%;
    background-color: var(--dark_color);
}

.third {
    width:33.3%;
    height:100%;
    background-color: var(--darkest_color);
}

#about-us {
    height:988px;
    text-align: center;
}

#about-us .content{
    margin-top: 10vh;
    height:60%;
}

#about-img {
    width: 50%;
    height: 100%;    
}

#about-img img {
    width:100%;
    height:100%;
}

#about-content {
    box-sizing: border-box;
    width:50%;
    height:100%;
    padding-top: 6%;
    padding-left: 2%;
    text-align: left;
}

#about-content h1 {
    font-size: 35px;
    font-weight: 900;
}

#about-content p {
    margin-top: 50px;
    font-size: 18px;
    opacity: 0.5;
}

#about-content :nth-child(5) {
    font-size: 30px;
    opacity: 1;
}

#experience-year {
    color:var(--basic_color);
}

.product-summary {
    position: absolute;
    display: flex;
    height: 20%;
    text-align: center;
    justify-content: space-between;
    width:60%;
    margin:0 auto;
    margin-top: 30px;
    padding:10px;
    animation-name: move;
    animation-duration: 5s;
    animation-delay:3s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.outCircle {
    display: flex;
    width: 150px;
    height:150px;
    border-radius: 70%;
    border: solid 1px black;
    margin: 10px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.inCircle {
    width: 120px;
    height: 120px;
    border-radius: 70%;
    overflow: hidden;
}

.inCircle img,
.product-img-container img {
    width:100%;
    height: 100%;
    object-fit: fit;
}

#products {
    width:60%;
    height: 1300px;
    margin: 0 auto;
    text-align: center;
}

#products-container {
    display:grid;
    width: 100%;
    height: 73%;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 40% 40%;
    gap:20px;
    row-gap: 60px;
}

.product-item {
    line-height: 10px;
}

.product-img-container {
    width:100%;
    height: 80%;
    margin-bottom: 15px;
}

#productBtn {
    width: 270px;
    height:30px;
    border:none;
    color:white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    background-color: var(--basic_color);
}

#testimonial {
    height:650px;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../imgs/background1.jpeg);
}

.testimonial-content {
    width:60%;
    height:100%;
    margin:0 auto;
    text-align: center;
    color:white;
    padding-top: 100px;
}

#review-content {
    display:grid;
    width:100%;
    height:45%;
    grid-template-columns: 30% 30% 30%;
    gap:25px;
    align-items: center;
}

.review-item {
    box-sizing: border-box;
    padding:18px;
    height:90%;
    font-size: 18px;
    border: 0.5px solid rgba(255,255,255,0.6);
    text-align: left;
    border-radius: 5px;
}

.profile-img {
    width:80px;
    height:80px;
    border-radius: 70%;
    float:left;
    margin-right: 20px;
}

.review-item p,
.profile-info p {
    opacity:0.6;
}

.profile-info {
    margin-top:60px;
    line-height: 15px;
}

#blog .content{
    height:988px;
    padding-top:130px;
    display:block;
    line-height: 10px;
}

#blog-container {
    display: grid;
    width:100%;
    height:70%;
    grid-template-columns: 49% 49%;
    grid-template-rows: 45% 45%;
    gap:20px;
    row-gap: 60px;
}

.blog-item {
    background-color: rgb(245, 221, 172,0.5);
    text-align: left;
}

.blog-item img{
    width:50%;
    height:100%;
    background-color: aqua;
    margin-right:30px;
    float:left;
}

.blog-item p {
    margin-top:30px;
    line-height: 18px;
    font-size: 17px;
    opacity: 0.5;
}




@keyframes animate_background {
    0%   {background-position:0% 0%}
   50%  {background-position:0% 80%;}
   100%  {background-position:0% 0%;}	
}

@keyframes move {
    from {
        left: 0;
      }
      to {
        left: 250px;
      }
}

@media (min-width: 0px) and (max-width: 1023px) {
    .content {
        font-size: 13px;
        width: 100%;
    }
    
    #main-img {
        animation:none;
    }
    #about-img {
        width:50%;
        height:80%;
    }    

    #about-content {
        width:50%;
        height:80%;
        margin-bottom: 20px;
    }

    #about-content p {
        font-size: 13px;
        margin-top: 30px;
    }

    #about-content :nth-child(5) {
        font-size: 20px;
    }

    .outCircle {
        width:80px;
        height:80px;
        margin: 0 auto;
    }

    .inCircle {
        width: 60px;
        height:60px;
    }
    .product-summary {
        position:relative;
        display:flex;
        animation: none;
        margin-top:-80px;
    }

    #products {
        height:1600px;
        margin-top:-250px;
    }

    #products-container {
        height: 65%;
        grid-template-columns: 45% 45%;
        grid-template-rows: 25% 25% 25% 25%;
    }

    #products h1 {
        margin-bottom: 30px;
    }

    #productBtn {
        margin-top: 280px;
    }

    .review-item {
        font-size:12px;
    }

    .profile-img {
        width:50px;
        height:50px;
    }

    .blog-item p {
        font-size: 12px;
        line-height:12px;
    }

    .blog-item h3 {
        font-size: 13px;
    }
}

@media (max-width: 599px) {
    .product-summary {
        display: none;
    }

    #about-us .content {
        display:block;
    }

    #about-img {
        width: 100%;
        height:50%;
    }
    
    #about-content {
        width: 100%;
    }

    #products {
        height: 2700px;
    }

    #products-container {
        height:80%;
        row-gap: 80px;
        grid-template-columns: 90%;
        grid-template-rows: repeat(8,10%);
    }

    #testimonial {
        height:1000px;
    }

    #review-content {
        height:80%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,30%);
        gap:0px;
    }

    #blog .content{
        height: 1500px;
        width: 100%;
    }

    #blog-container {
        grid-template-columns: 80%;
        grid-template-rows: repeat(4,25%);
    }
}