.review{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,25%);
    grid-template-rows: 130px 330px 30px 30px 30px 220px 20px 20px 20px 300px 80px;
    grid-template-areas: 
    "title title title"
    "first second third"
    "first second third"
    "fourth second third"
    "fourth second sixth"
    "fourth fifth sixth"
    "fourth eigth sixth"
    "seventh eigth sixth"
    "seventh eigth ninth"
    "seventh eigth ninth"
    "  .       .      . ";
}

.review h1{
    grid-area: title;
    padding:50px;
    font-size: 40px;
}

.grid-item{
    border:3px solid black;
    margin:10px;
    text-align: left;
    padding:20px;
    background-color: white;
    overflow: hidden;
    
}

.first{
    grid-area: first;
}

.second{
    grid-area: second;
}

.third{
    grid-area: third;
}

.fourth{
    grid-area: fourth;
}

.fifth{
    grid-area: fifth;
}

.sixth{
    grid-area: sixth;
}

.seventh{
    grid-area: seventh;
}

.eighth{
    grid-area: eigth;
}
.ninth{
    grid-area: ninth;
}

.grid-item img{
    height:50px;
    width:50px;
    border-radius: 70%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.grid-item span{
    color:red;
}

.grid-item p{
    border-top: 2px solid black;
    margin-top:17px;
    font-size: 18px;
}


.grid-item:hover{
    transform: scale(1.2);
    transition: transform 0.5s;
}
